@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/lil-grotesk');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-gray-900;
  }
}

.font-palatino {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.font-lil-grotesk {
  font-family: 'Lil Grotesk', sans-serif;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-roboto {
  font-family: 'Roboto', sans-serif;
}